.main_II{
    overflow: hidden;
    background: #081b29;
    padding-bottom: 2%;
    height: 250vh;
}
.top_{
    display: flex;
    gap: 5rem;
}
.btn_{
    font-weight: 600;
    cursor: pointer;
    width: 5vw;
    margin-left: 4%;
    margin-top: 2%;
    height: 5vh;
}
.btn_:hover{
    color: #00abf0;
}
.p_tag{
    margin-left: 28%;
    color: white;
    font-size: larger;
    font-weight: 700;
    margin-top: 2%;
}
.portfolio-box{
    margin-top: 6%;
    margin-left: 5%;
    display: flex;
    width: 88%;
    gap: 2rem;
}
.portfolio-box img{
    padding-top: 4%;
    width: 50%;
    transition: .5s ease;
    cursor: pointer;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    padding-top: 8%;
    width: 60%;
}
.portfolio-layer h4{
    font-weight: 900;
    font-size: 1.6rem;
}
.portfolio-layer p{
    font-weight: 600;
    font-size: 1rem;
    margin: .3rem 0 1rem;
}